In [1]:
#DS Basics
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt

#SKLearn Stuff

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import cross_val_score

#helpers
%matplotlib inline

In [2]:
data = pd.read_csv('Documents/Data_Analysis/Demographic_Data.csv')
data.head()

   in-store  age  items   amount  region
0         0   37      4   281.03       2
1         0   35      2   219.51       2
2         1   45      3  1525.70       4
3         1   46      3   715.25       3
4         1   33      4  1937.50       1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   in-store  80000 non-null  int64
 1   age       80000 non-null  int64
 2   items     80000 non-null  int64
 3   amount    80000 non-null  float64
 4   region    80000 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 3.1 MB

In [4]:
data[0:3] # Select rows 0, 1, 2 (row 3 is not selected)

   in-store  age  items   amount  region
0         0   37      4   281.03       2
1         0   35      2   219.51       2
2         1   45      3  1525.70       4

In [24]:
x = data.iloc[:,0:4]

In [29]:
#features
x = data.iloc[:,0:4]
print(x)
x.head()

       in-store  age  items   amount
0             0   37      4   281.03
1             0   35      2   219.51
2             1   45      3  1525.70
3             1   46      3   715.25
4             1   33      4  1937.50
...         ...  ...    ...      ...
79995         1   71      3   558.82
79996         0   59      7  1932.00
79997         0   54      1   414.16
79998         1   49      4   335.32
79999         1   30      1   527.12

[80000 rows x 4 columns]

   in-store  age  items   amount
0         0   37      4   281.03
1         0   35      2   219.51
2         1   45      3  1525.70
3         1   46      3   715.25
4         1   33      4  1937.50

In [30]:
#dependent variable
y = data['region']
print(y)
y.head()

0        2
1        2
2        4
3        3
4        1
        ..
79995    1
79996    3
79997    2
79998    1
79999    3
Name: region, Length: 80000, dtype: int64

0    2
1    2
2    4
3    3
4    1
Name: region, dtype: int64